@media (max-width: 1240px) {

    .cards__main-box {
        grid-template-columns: 50% 50%;
    }
    .cards__block {
        max-width: unset;
    }
    .ready__first-block {
        flex-direction: column;
    }
    .responses__list {
        margin-bottom: 24px;
    }
}

@media (max-width: 978px) {
    .cards__grid {
        grid-template-columns: 100%;
    }
    .simillar__card {
        display: none;
    }
    .simillar__card-978 {
        display: block;
        margin-bottom: 16px;
    }
    .new-work__list {
        flex-direction: column;
    }
    .new-work__item {
        width: unset;
    }
    .new-work__item:not(:last-child) {
        margin-bottom: 12px;
    }
    .send__flex-box {
        flex-direction: column;
    }
    .send__confirm-btn {
        margin-left: unset;
        width: 100%;
        margin-bottom: 8px;
        margin-right: unset;
    }
    .send__cancel-btn {
        width: 100%;
        justify-content: center;
    }
    .send__chose-btn {
        width: 100%;
        margin-bottom: 12px;
    }
    .send__btn-txt {
        margin-bottom: 24px;
        margin-right: auto;
    }
    .close__chat-btn {
        margin-bottom: 12px;
       }
       .rating__menu {
        display: none;
       }
       .profile__block {
        flex-direction: column;
       }
       .profile__block-left {
        margin-bottom: 20px;
       }
       .verification__user-block {
        margin-right: auto;
       }
}

@media (max-width: 768px) {
    .header {
        background-image: url(../img/header-bg-small.png);
        background-size: unset;
        padding-top: 228px;
    }
    .header::after {
        top: -212px;
    }
    .cards__menu {
        display: none;
    }
    aside {
        display: none;
    }
}

@media (max-width: 576px) {
    .header__search-block {
        padding: 24px 20px;
    }

    .header__flexbox {
        flex-direction: column;
    }

    .header::after {
        top: -215px;
    }

    .header__input {
        display: none;
    }

    .header__input-576 {
        display: block;
        margin-bottom: 8px;
    }

    .header__input-576::placeholder {
        font-size: 14px;
    }

    .header__text {
        display: none;
    }

    .header__btn {
        justify-content: center;
        font-size: 14px;
    }

    .header__btn-additionally {
        font-size: 14px;
        text-align: center;
    }

    .cards {
        padding-top: 16px;
    }

    .cards__add-new {
        font-size: 14px;
    }

    .cards__count {
        font-size: 14px;
    }

    .cards__filter {
        font-size: 14px;
    }

    .cards__btn {
        font-size: 12px;
    }

    .cards__title {
        font-size: 16px;
    }

    .cards__item-name,
    .cards__item-value {
        font-size: 12px;
    }

    .cards__item:not(:first-child) {
        padding-left: 12px;
    }

    .cards__item:not(:last-child) {
        padding-right: 35px;
    }

    .green-btn {
        font-size: 14px;
        padding: 8px 32px;
    }

    .cards__price {
        font-size: 16px;
    }

    .cards__grid {
        gap: 14px;
        margin-bottom: 14px;
    }

    .cards__more-btn {
        justify-content: center;
        width: 100%;
    }
    .ready__block-576 {
        display: block;
        margin-bottom: 23px;
    }

    .ready__link-576 {
        font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 148%;
color: #7E8792;
margin-right: 9px;
    }
    .ready__link-576-active {
        color: #0091EA;
    }
    .ready__svg-576 {
        margin-right: 9px;
    }
    .main__flex {
        padding-top: 115px;
    }
    .title {
        font-size: 24px;
        line-height: 32px;
    }
    .ready__descr {
        font-size: 14px;
        margin-bottom: 24px;
    }
    .trans-btn {
        font-size: 12px;
    }
    .ready__text {
        font-size: 12px;
        margin-bottom: 27px;
    }
    .ready__guar {
        font-size: 12px;
    }
    .ready__first-block {
        padding: 24px 20px;
        margin-bottom: 16px;
    }
    .ready__rating {
        font-size: 12px;
    }
    .ready__rating-value {
        font-size: 14px;

    }

    .ready__rating-value::after {
        background-image: url(../img/star-mini.svg);
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
    }
    .ready__student {
        font-size: 12px;
    }
    .ready__card-item:not(:last-child) {
        padding-right: 8px;
    }
    .ready__second-block {
        padding: 12px 20px;
    }
    .ready__third-block {
        padding: 24px 20px;
    }
    .ready__third-block-title {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .ready__list {
        font-size: 12px;
        max-width: 180px;
        color: #071026;
    }
    .ready__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .ready__third-block-icon {
        bottom: 28px;
        top: unset;
        right: 2px;
    }
    .ready__third-block {
        margin-bottom: 20px;
    }
    .reviews__title {
        font-size: 16px;
    }
    .reviews__text {
        font-size: 14px;
    }
    .reviews__first-block {
        margin-bottom: 8px;
    }
    .reviews__second-block {
        padding: 24px 20px;
    }
    .reviews {
        margin-bottom: 24px;
    }
    .simillar__title {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .cards__block {
        padding: 24px 20px;
    }
    .cards__btn {
        margin-bottom: 16px;
    }
    .cards__title {
        margin-bottom: 20px;
    }
    .cards__list {
        margin-bottom: 24px;
    }
    .text {
        font-size: 14px;
    }
    .new-work__captcha-block {
        flex-direction: column;
    }
    .new-work__captcha-block-img {
        margin-bottom: 12px;
    }
    .new-work__text {
        margin-bottom: 16px;
    }
    .new-work__form-name {
        font-size: 12px;
    }
    .input::placeholder  {
        font-size: 14px;
    }
    .new-work__select {
        font-size: 14px;
    }
    .new-work__list {
        margin-bottom: 12px;
    }
   .new-work__descr {
    font-size: 12px;
line-height: 148%;
margin-bottom: 16px;
   }
   .card {
    padding: 24px 20px;
   }
   .input {
    width: 100%;
   }
   .new-work__report-block {
    flex-direction: column;
   }
   .new-work__btn {
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
   }
   .new-work__report-text {
    margin-bottom: 12px;
   }
   .new-work__captcha-block {
    margin-bottom: 20px;
   }
   .burse__btn-additionally {
    align-self: center;
   }
   .burse__search-block {
    margin-bottom: 16px;
   }
   .card__filter-value {
    font-size: 14px;
   }
   .cards__more-btn {
    font-size: 14px;
    align-items: center;
   }
   .responses__price {
    font-size: 14px;
   }
   .responses__btn {
    font-size: 14px;
    width: 100%;
    margin-bottom: 9px;
   }
   .responses__button-raiting {
    flex-direction: column;
    align-items: unset;
   }
   .responses__student {
    font-size: 14px;
   }
   .send__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
   }
   .send__attention {
    padding: 16px 12px;
   }
   .send__text {
    font-size: 12px;
   }
   .send__descr {
    margin-bottom: 16px;
   }
   .send__chose-btn {
    font-size: 14px;
   }
   .send__confirm-btn {
    padding-top: 12px;
    padding-bottom: 12px;
   }
   .send__cancel-btn {
    font-size: 14px;
   }
   .send__text::after {
    width: 25px;
   }
   .close__title {
    font-size: 16px;
    line-height: 24px;
   }
   .close__text {
    font-size: 14px;
    line-height: 156%;
   }
   .helper__search-block {
    margin-bottom: 16px;
   }
   .helper__add-new {
    margin-bottom: 24px;
   }
   .helper__btn {
    font-size: 12px;
    max-width: 148px;
   }
   .helper__title {
    font-size: 16px;
    line-height: 156%;
   }
   .helper__date {
    font-size: 14px;
   }
   .helper__block {
    margin-bottom: 20px;
   }
   .add-new-quetion__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
   }
   .add-new-quetion__input-2 {
    margin-bottom: 16px;
   }
   .add-new-quetion__select {
    max-width: unset;
    width: 100%;
   }
   .add-new-quetion__block {
    margin-bottom: 16px;
   }
   .add-new-quetion__captcha-button {
    width: 100%;
   }
   .q-card__third-block {
    display: none;
   }
.q-card__second-block-576 {
    display: block;
    margin-bottom: 16px;
}
.q-card__btn {
    margin-bottom: 12px;
}
.q-card__flexbox {
    flex-direction: column-reverse;
}
.q-card__date {
    margin-bottom: 8px;
}
.q-card__title {
    font-size: 16px;
    line-height: 25px;
}
.q-card__text {
    font-size: 14px;
    line-height: 22px;
}
.q-card__rating {
    flex-direction: column;
    align-items: flex-start;
}
.q-card__student {
    margin-left: unset;
}
.q-card__rating {
    font-size: 12px;
line-height: 148%;
}
.q-card__second-block {
    margin-bottom: 20px;
}
.q-card__title-2 {
    font-size: 16px;
line-height: 156%;
margin-bottom: 8px;
}
.q-card__second-block-576 {
    padding: 20px;
}
.rating__flex {
    flex-direction: column;
    margin-bottom: 16px;
    padding-top: unset;
}
.rating__btn {
    margin-bottom: 12px;
    margin-right: unset;
    font-size: 14px;
}

.rating__btn-2 {
    font-size: 14px;
}

.rating__block-576 {
    padding-top: 115px;
}
.main__rating-flex {
    padding-top: unset;
}
.rating__names {
    font-size: 12px;
}
.rating__number::after {
    font-size: 12px;
}
.rating__svg {
    width: 21px;
    height: 25px;
}
.rating__number::after {
    top: 2px;
    left: 7px;
}
.rating__name, .rating__work, .rating__rating{
    font-size: 12px;
}
.profile__svg {
    width: 56px;
    height: 56px;
}
.profile__name {
    font-size: 20px;
line-height: 156%;
}
.profile__status {
    font-size: 14px;
line-height: 156%;
}
.profile__block-left {
    margin-right: auto;
    align-items: center;
}
.profile__block-right {
    margin-right: auto;
    align-items: center;
}
.profile__raiting-number {
    font-size: 16px;
}
.profile__rating {
    font-size: 14px;
}
.profile__block-right::before {
    background-image: url(../img/star-mini.svg);
    width: 40px;
    height: 40px;
}
.profile__block, .profile__about-me, .profile__works-ready {
    margin-bottom: 20px;
}
.profile__rewiew-title {
    font-size: 20px;
}
.verification__select {
    width: 100%;
}
.registration__title {
    font-size: 20px;
line-height: 156%;
}
.registration__btn  {
    font-size: 14px;
}
.registration__text {
    font-size: 12px;
    line-height: 148%;
}
.autorisation__icons {
    display: none;
}
.autorisation__title {
    font-size: 20px;
line-height: 156%;
margin-bottom: 20px;
}
.autorisation__text {
    font-size: 12px;
    line-height: 148%;
}
.autorisation__link {
    font-size: 12px;
    line-height: 148%;
}
.autorisation__btn  {
    font-size: 14px;
}
}